---
import { Image } from "astro:assets";
import leftBg from "../assets/images/docs-left.png";
import rightBg from "../assets/images/docs-right.png";
import logo from "../assets/images/logo.png";
import Header from "../components/header/Header";
import Footer from "../components/Footer";
import ThemeBtn from "../components/header/ThemeBtn.astro";
import { ViewTransitions } from 'astro:transitions';
import Nav from "../components/header/Nav.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
const isLogin = Astro.cookies.has("sb-access-token");
---

<!doctype html>
<html lang="en" data-theme>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<style>
			html,
			body {
				height: 100%;
			}
		</style>
		<ViewTransitions />
	</head>
	<body>
		<div class="flex flex-col justify-between h-screen">
			<Header isLogin={isLogin}>
				<Nav slot="nav"></Nav>
				<ThemeBtn slot="theme"></ThemeBtn>
				<Image src={logo} alt="logo" slot="logo" class="w-12"></Image>
			</Header>
			<main class="max-w-\[1024px\] flex-1" transition:animate="fade">
				<slot />
			</main>
			<Footer />
			<Image class="gomi-bg gomi-bg-left" src={leftBg} alt="" transition:persist/>
			<Image class="gomi-bg gomi-bg-right" src={rightBg} alt="" transition:persist />
		</div>
	</body>
</html>
<style is:global>
	:root {
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}

	.nav-bar {
		position: fixed;
	}

	.gomi-bg {
		position: fixed;
		pointer-events: none;
		z-index: 999;
	}

	.gomi-bg-left {
		transform: translate(-40%, 0%);
	}

	.gomi-bg-right {
		transform: translate(50%, -50%);
	}

	main {
		margin: auto;
		margin-top: 64px;
		padding: 1rem;
		width: 100%;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
